@import "typography";
@import "rwd";

body {
  background-color: $grey;
  font-family: $spartan;
  font-size: 16px;

  header,
  section {
    min-height: 100vh;
  }

  footer {
    min-height: 40vh;
    background-color: #000;
  }

  .card {
    height: 450px;
    cursor: pointer;

    &:hover {
      background-size: cover;

      .card-text {
        color: $yellow;
      }
    }
  }

  .first-card,
  .second-card,
  .third-card,
  .fourth-card {
    background-repeat: no-repeat;
    background-size: 200px 180px;
    background-position: 80% 80%;
  }

  .first-card {
    background-image: url(../assets/img/square-bg1.png);
    background-color: #805d5d;
  }

  .second-card {
    background-image: url(../assets/img/square-bg2.JPG);
    background-color: #88754f;
    cursor: not-allowed;
  }

  .third-card {
    background-image: url(../assets/img/square-bg3.JPG);
    background-color: #e1d5bd;
  }

  .fourth-card {
    background-image: url(../assets/img/square-bg4.png);
    background-color: #405952;
    cursor: not-allowed;
  }

  .card-text {
    font-family: $belleza;
    font-size: 35px;
    line-height: 48px;
  }
}

header {
  background-color: #000;
  color: #fff;

  .header__logo {
    span {
      font-family: $belleza;
      font-size: 13px;
      line-height: 11px;
    }

    .header__logo--img {
      width: 50px;
      height: 30px;
    }
  }

  .header__social {
    font-size: 8px;
    line-height: 4px;
  }

  .header__yellow-square {
    height: 200px;
    border: 3px solid $yellow;

    span {
      font-family: $belleza;
      font-size: 20px;
      color: $yellow;
    }
  }

  nav {
    font-size: 7px;
    line-height: 30px;
  }
}

main {
  .film-room-square {
    border: 3px solid $yellow;

    .square__title1,
    .square__title2 {
      color: $yellow;
      font-family: $belleza;
      margin-left: 5%;
      font-size: 30px;
      line-height: 30px;
    }

    // .square__title2 {
    //   margin-left: 8%;
    // }
  }

  .main-square-first {
    h1 {
      font-size: 30px;
      line-height: 30px;
      color: $yellow;
      padding: 2%;
    }

    p {
      font-size: 15px;
      line-height: 30px;
      font-weight: $fw-extra-bold;
    }
  }

  .main-square-second {
    p {
      font-size: 12px;
      line-height: 22px;
      font-weight: 600;
    }
  }
}

.info-section {
  h1 {
    font-family: $belleza;
    color: $yellow;
    font-size: 30px;
    line-height: 40px;
    margin-left: 3%;
  }

  p {
    font-size: 12px;
  }

  .inf-sign {
    width: 66px;
    height: 66px;
    margin-left: 2%;
  }

  .creators {
    border-bottom: 3px solid $yellow;
    margin-top: 5%;

    p {
      font-size: 12px;
      line-height: 22px;

      span {
        font-weight: 800;
      }
    }
  }
}

footer {
  p {
    color: white;
    font-size: 16px;

    a {
      color: $yellow;
      text-decoration: none;
      line-height: 40px;

      &:active {
        color: $yellow;
        text-decoration: none;
      }

      &:hover {
        color: $yellow;
        text-decoration: none;
      }

      &:visited {
        color: $yellow;
        text-decoration: none;
      }
    }
  }

  .hr-line {
    border-bottom: 3px solid $yellow;
  }
}
